@import 'variables';

.cs-table {

  background: $light;

  th {
    font-weight: 700;
    text-transform: uppercase;
    color: $text;
  }

  td {
    color: $text;
  }

  .row-error {
    border-left: 2px solid $warn;
  }

}
